# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [4]:
ny = [40.7128, -74.0060]
nyp = 8336817
nya = 783.8

In [2]:
pop_density = nyp/nya
pop_density

10636.408522582293

In [7]:
print("Latitude is " f"{ny[0]}", "Longitude is " f"{ny[1]}")

Latitude is 40.7128 Longitude is -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [15]:
newlist = 'Lagos'
newlist = newlist.lower()
print(newlist)

lagos

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [16]:
cities = [('New York City: (40.7128, -74.0060)'), ('Los Angeles: (34.0522, -118.2437)'), ('Chicago: (41.8781, 087.6298)')]
cities

['New York City: (40.7128, -74.0060)',
 'Los Angeles: (34.0522, -118.2437)',
 'Chicago: (41.8781, 087.6298)']

In [17]:
cities.append('Miami: (25.7617, -80.1918)')
cities

['New York City: (40.7128, -74.0060)',
 'Los Angeles: (34.0522, -118.2437)',
 'Chicago: (41.8781, 087.6298)',
 'Miami: (25.7617, -80.1918)']

In [18]:
print(cities[:2])

['New York City: (40.7128, -74.0060)', 'Los Angeles: (34.0522, -118.2437)']

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [25]:
etower = (48.8584, 2.2945)
print ("Latitude is "f'{etower[0]}' " and Longitude is "f'{etower[1]}')

Latitude is 48.8584 and Longitude is 2.2945

In [ ]:
# Tuples are immutable

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [26]:
countries = {"USA", "France", "Germany"}
countries

{'France', 'Germany', 'USA'}

In [ ]:
# nothing will change because Sets are made up of uniques values.

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [27]:
newdict = {"Name": "Amazon River", "Length": "6400km", "Countries": ["Brazil", "Peru", "Colombia"]}
newdict

{'Name': 'Amazon River',
 'Length': '6400km',
 'Countries': ['Brazil', 'Peru', 'Colombia']}

In [29]:
newdict["avgdisch"] = '209000m**3/s'
newdict

{'Name': 'Amazon River',
 'Length': '6400km',
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'avgdisch': '209000m**3/s'}

In [96]:
newdict["Length"] = '6992km'
newdict

{'Name': 'Amazon River',
 'Length': '6992km',
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'avgdisch': '209000m**3/s'}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [38]:
city = {"Name": "Tokyo", "Population": 13515271, "Coordinates": (35.6895,139.6917)}

print(city)

{'Name': 'Tokyo', 'Population': 13515271, 'Coordinates': (35.6895, 139.6917)}

In [39]:
print(city["Population"])

13515271

In [41]:
print (city["Coordinates"][0])

35.6895

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [67]:
cities_sorted = sorted(cities)
cities_sorted

['Chicago: (41.8781, 087.6298)',
 'Los Angeles: (34.0522, -118.2437)',
 'Miami: (25.7617, -80.1918)',
 'New York City: (40.7128, -74.0060)']

In [83]:
newlist = [city.split(':')[0] for city in cities]
newlist

['Chicago', 'Los Angeles', 'Miami', 'New York City']

In [81]:
finallist = newlist.pop()
finallist

'New York City'

In [84]:
# Sorting the list alphabetically
newlist.pop()
print(newlist)

['Chicago', 'Los Angeles', 'Miami']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [93]:
if 'Length' in newdict:
    print ('True')

True

In [94]:
print(newdict.keys())

dict_keys(['Name', 'Length', 'Countries', 'avgdisch'])

In [97]:
print(newdict.values())

dict_values(['Amazon River', '6992km', ['Brazil', 'Peru', 'Colombia'], '209000m**3/s'])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [98]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [103]:
for i in locations:
    print(i[0])

Mount Everest
K2
Kangchenjunga

In [108]:
lastdict = {}
for item in locations:
    key = item[0]
    value = item[1:]
    lastdict[key] = value

print(lastdict)

{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}

In [109]:
print(lastdict['K2'])

(35.8808, 76.5155)